.footer {
    background-color: #057FF2;
    padding: 20px;
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: bold;
    color: white;
}

.footer-content {
    margin-bottom: 15px;
}

.quick-links {
    list-style: none;
    padding: 0;
}


.quick-links li {
    display: inline;
    margin: 0 10px;
}

.quick-links a {
    text-decoration: none;
    color: #3f51b5;
}

.social-media a {
    font-size: 24px; /* Aumenta el tamaño de los íconos */
    margin: 0 15px; /* Mayor espacio entre los íconos */
    color: white; /* Color de los íconos */
    transition: transform 0.3s; /* Efecto de transición */
}

.social-media a:hover {
    transform: scale(1.2); /* Efecto de agrandamiento al pasar el ratón */
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    background-color: #004A8F;
    width: 100%;
    color: white;
}

@media(max-width:768px) {
    .footer {
        font-size: 12px;
    }
}
