<div class="cuerpo">
    <div class="profile-section">
      <div class="user-card">
        <img src="https://media.tenor.com/EPAcnV16_6YAAAAC/superheroe-volar.gif" alt="Avatar del Usuario" class="avatar">
        <div class="user-info">
          <h2>Carlos Gael</h2>
          <p>Nivel: 3</p>
          <div class="progress-bar">
            <div class="progress" style="width: 75%;"></div>
          </div>
          <p>Puntaje Total: 1500</p>
        </div>
      </div>
      <div class="game-card">
        <img class="game-icon" src="https://www.gifsanimados.org/data/media/1629/videojuego-imagen-animada-0012.gif" alt="Icono de Juegos">
        <h2>¿Listo para jugar?</h2>
        <p class="game-description">Juega y aprende para desbloquear logros y mejorar tus habilidades.</p>
        <button class="game-button blink" (click)="routeGames()">Jugar</button>
    </div>
    
    </div>
  
    <div class="achievements-section">
      <h2>Mis Logros</h2>
      <div class="achievements-grid">
        <div class="achievement unlocked">
          <img src="https://brandemia.org/sites/default/files/inline/images/duolingo_nueva_imagen_animacion3.gif" alt="Logro 1">
          <p>Logro 1</p>
        </div>
        <div class="achievement unlocked">
          <img src="https://brandemia.org/sites/default/files/inline/images/duolingo_nueva_imagen_animacion3.gif" alt="Logro 2">
          <p>Logro 2</p>
        </div>
        <div class="achievement unlocked">
          <img src="https://brandemia.org/sites/default/files/inline/images/duolingo_nueva_imagen_animacion3.gif" alt="Logro 3">
          <p>Logro 3</p>
        </div>
        <div class="achievement locked interactive" title="¡Haz clic para desbloquear!">
          <img src="https://brandemia.org/sites/default/files/inline/images/duolingo_nueva_imagen_animacion3.gif" alt="Logro por Conseguir">
          <p>Logro por Conseguir</p>
        </div>
        <div class="achievement locked interactive" title="¡Haz clic para desbloquear!">
            <img src="https://brandemia.org/sites/default/files/inline/images/duolingo_nueva_imagen_animacion3.gif" alt="Logro por Conseguir">
            <p>Logro por Conseguir</p>
          </div>
          <div class="achievement locked interactive" title="¡Haz clic para desbloquear!">
            <img src="https://brandemia.org/sites/default/files/inline/images/duolingo_nueva_imagen_animacion3.gif" alt="Logro por Conseguir">
            <p>Logro por Conseguir</p>
          </div>
          <div class="achievement locked interactive" title="¡Haz clic para desbloquear!">
            <img src="https://brandemia.org/sites/default/files/inline/images/duolingo_nueva_imagen_animacion3.gif" alt="Logro por Conseguir">
            <p>Logro por Conseguir</p>
          </div>
          <div class="achievement locked interactive" title="¡Haz clic para desbloquear!">
            <img src="https://brandemia.org/sites/default/files/inline/images/duolingo_nueva_imagen_animacion3.gif" alt="Logro por Conseguir">
            <p>Logro por Conseguir</p>
          </div>

          <div class="achievement locked interactive" title="¡Haz clic para desbloquear!">
            <img src="https://brandemia.org/sites/default/files/inline/images/duolingo_nueva_imagen_animacion3.gif" alt="Logro por Conseguir">
            <p>Logro por Conseguir</p>
          </div>
        <!-- Agrega más logros aquí -->
      </div>
    </div>
  
    
  </div>
  