<!-- Tarjetas estilo dashboard -->
<div class="dashboard">
    <div class="dashboard-card" (click)="routeReading()">
      <img src="https://img.icons8.com/?size=100&id=oSeDZRvx4vHL&format=png&color=000000" alt="Actividad 1">
      <h3>Lecturas</h3>
      <p>Practica y mejora tu lectura.</p>
    </div>
    <div class="dashboard-card" (click)="routeWriting()">
      <img src="https://img.icons8.com/?size=100&id=jnU5ze2ojiku&format=png&color=000000" alt="Actividad 2">
      <h3>Escribir y Leer</h3>
      <p>Consejos y herramientas para aprender a leer y escribir.</p>
    </div>
    <div class="dashboard-card" (click)="routeNumber()">
      <img src="https://img.icons8.com/?size=100&id=55206&format=png&color=000000" alt="Actividad 3">
      <h3>Numeros</h3>
      <p>Consejos y herramientas para aprender sobre numeros.</p>
    </div>
    <div class="dashboard-card" >
      <img src="https://img.icons8.com/?size=100&id=6uBwWbcrZsKS&format=png&color=000000" alt="Actividad 4">
      <h3>Manual de Usuario</h3>
      <p>Conoce las funciones de la app.</p>
    </div>
  </div>
  