<div class="comment-card">
    <h1>¿Qué dicen de nosotros?</h1>
    <div class="comments">
        <div class="comment active">
            <p>¡Me divierto y aprendo mucho!</p>
        </div>
        <div class="comment">
            <p>Los juegos son muy entretenidos y educativos.</p>
        </div>
        <div class="comment">
            <p>Una plataforma fantástica para aprender jugando.</p>
        </div>
        <div class="comment">
            <p>Mis hijos disfrutan cada momento en Letropolis.</p>
        </div>
    </div>
</div>
