.dialog-container {
    text-align: center;
    padding: 20px;
    color: #004a8f; /* Azul profundo para el texto */
  }
  
  .dialog-title {
    color: #005bbb; /* Azul más vibrante para el título */
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  
  video {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  