<!-- Tarjetas estilo dashboard -->
<div class="dashboard">
    <div class="dashboard-card" (click)="routeWork()">
      <img src="https://img.icons8.com/?size=100&id=oHF5nA9VS4xI&format=png&color=000000" alt="Actividad 1">
      <h3>Trabajos</h3>
      <p>Revisa y organiza trabajos de los estudiantes.</p>
    </div>
    <div class="dashboard-card" (click)="openChat()">
      <img src="https://img.icons8.com/?size=100&id=LXTrWdLxmaDJ&format=png&color=000000" alt="Actividad 2">
      <h3>MR.Ayuditas</h3>
      <p>Consejos y herramientas para ayudar en clase.</p>
    </div>
    <div class="dashboard-card" (click)="routeStudent()">
      <img src="https://img.icons8.com/?size=100&id=46857&format=png&color=000000" alt="Actividad 3">
      <h3>Alumnos</h3>
      <p>Gestiona la información y participación de los alumnos.</p>
    </div>
    <div class="dashboard-card" (click)="routePost()">
      <img src="https://img.icons8.com/?size=100&id=67401&format=png&color=000000" alt="Actividad 4">
      <h3>Publicar</h3>
      <p>Publica actualizaciones y noticias para los alumnos.</p>
    </div>
  </div>
  