.main-container {
  background-color: #f0f8ff;
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.profile-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(109, 109, 110, 0.996);
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 30px;
  border: 3px solid #004a8f;
}

.profile-info {
  flex: 1;
  text-align: center;
}

.profile-info h2 {
  color: #004a8f;
  font-size: 2.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

.profile-info p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #064e75;
}

.profile-buttons button {
  margin: 5px;
}

.registration-section {
  width: 100%;
  max-width: 1200px;
  background-color: #f5faff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(109, 109, 110, 0.996);
  text-align: center;
}

.registration-section h2 {
  font-size: 2.5em;
  color: #3b5998;
  margin-bottom: 10px;
  font-weight: bold;
}

.section-description {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 30px;
}

.form-group {
  display: grid;
  gap: 25px;
}

.mat-form-field {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.action-button {
  width: 100%; /* El botón ocupa el ancho total de su contenedor */
  max-width: 1200px; /* Define un límite máximo para no extenderse demasiado */
  background-color: #3b5998;
  color: #fff;
  font-size: 1.2em;
  padding: 12px 20px; /* Ajuste de padding para mantener proporción */
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.action-button:hover {
  transform: scale(1.05);
  background-color: #6891f3;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mat-form-field .mat-label {
  color: #3b5998;
}

.mat-form-field.mat-focused .mat-label {
  color: #4c75d4;
}

.mat-form-field.mat-focused .mat-form-field-outline-thick {
  border-color: #4c75d4;
}
