<h2>Editar Actividad</h2>
<div class="dialog-content">
  <div class="form-field">
    <label for="numeroActividad">Número de Actividad</label>
    <input type="text" id="numeroActividad" [(ngModel)]="data.numeroActividad"  />
  </div>
  <div class="form-field">
    <label for="nombreTarea">Nombre de la Tarea</label>
    <input type="text" id="nombreTarea" [(ngModel)]="data.nombreTarea" />
  </div>
  <div class="form-field">
    <label for="fechaEntrega">Fecha de Entrega</label>
    <input type="date" id="fechaEntrega" [(ngModel)]="data.fechaEntrega" />
  </div>
</div>
<div class="dialog-actions">
  <button (click)="onCancel()">Cancelar</button>
  <button (click)="onSave()">Guardar</button>
</div>
